<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<title>Senegal</title>
</head>

<body>

	<div class="entete">
		<div class="sn">
			<span> <b>REPUBLQUE DU SENEGAL</b>
			</span> <br /> <span class="unPeuple"> Un peuple - Un But - Une Foi</span>
			<br /> <span class="centrer_und"> _ _ _ _ _ _ _ _ _ </span><br /> <br />
			<span class="centrer"><b> MINISTÈRE DES FINANCES </b> </span><br /> <span
				class="sub_centrer"><b> ET DU BUDGET </b> </span>
			<p>
				<span class="centrer_und"> _ _ _ _ _ _ _ _ _ </span>
			</p>
			<span class="centrer"> <img src="images/logo-cdmp.png"
				wclassth="200px" height="40px" alt="img" />
			</span> <br /> <span class="centrer"><b>DIRECTION DES DOMAINES </b><br />
				<span class="centrer_und_full">____________________</span><br />
			<br /> <span class="centrer"><b>CENTRE DES SERVICES
						FISCAUX </b></span><br /> <span class="sub_centrer"><b> DE DAKAR
						PLATEAU</b></span><br /> </span> <br /> <span class="sub_sub_centrer">CONSERVATION
				<br />
				<p class="centrer">DE LA PROPRIETE ET DES DROITS</p> <span
				class="sub_sub_centrer_2">FONCIERS</span>
			</span><br /> <span class="centrer_und_full">_____________________</span><br />

		</div>

		<div class="date">
			<p>Loi n° 2011-07</p>
			<p>du</p>
			<p>30 mars 2011</p>
		</div>

	</div>

	<div class="titre">
		<p>
			<b>REQUISITION</b>
		</p>
	</div>

	<div class="text">
		<p>

			Le soussigné <b>François Ndiaye </b> <br /> Requiert Monsieur le
			Conservateur de la Propriété et des droits fonciers de <b>DAKAR </b>
			<b> PLATEAU</b>, de bien vouloir lui délivrer un état des droits
			réels sur le titre foncier <b> n° 376798/DK </b>
		</p>
	</div>
	<br />
	<br />
	<br />
	<br />

	<div class="container">

		<div class="enddoc">
			<p>
				<b>FRANÇOIS NDIAYE</b>
			</p>
			<p>Chef de bureau du cadatre</p>
		</div>

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
	<br />
	<br />
	<br />
	<br />
	<div>
		<div class="date2">
			<p>Dakar , le 20 avril 2022</p>
		</div>
	</div>

</body>

</html>



